:root {
  --accent: #005eb8;
  --shadow-accent: #005eb8;
}

body {
  padding-top: 54px;
  background-color: #fafafc;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.header {
  min-height: 100%;
  background: url("../resources/header.jpg") center center no-repeat scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.navbar {
  white-space: nowrap;
}

.navbar-brand i:hover {
  color: var(--accent);
}

.navbar-form button {
  display: inline;
}

.header h1 {
  color: white;
}

.nav-item, .nav-item > a{
  border-radius: .25rem;
  padding-left: .25rem;
  padding-right: .25rem
}

.navbar-nav a:hover, .navbar-nav .active  {
  background-color: var(--accent);
}

.login-btn {
  color: white;

  border-color: var(--accent);
}

.login-btn:hover, .login-btn:focus {
  background-color: var(--accent);
  color: white;
  border-color: var(--accent);
}

.search-btn, .buy-btn {
  background-color: var(--accent);
  border-color: var(--accent);
}

.search-btn:hover, .search-btn:focus, .buy-btn:hover, .buy-btn:focus {
  background-color: var(--shadow-accent);
  border-color: var(--shadow-accent);
}

.table{
  width: 800px;
  border-bottom: 1px solid #D1D4D7;
}

th {
  background-color: #005eb8;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
textarea_text,textarea_number {
  width: 300px;
}


.card {
  height: 100%;
}

.card i {
  text-align: center;
  color: var(--accent);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: none;
}

.card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
}

#id3, #id4 {
  display: none;
}


input[type="checkbox"] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  background: lightgray;
  height: 16px;
  width: 16px;
}
  .navbar-dark .navbar-nav .nav-link {
  color: rgb(255, 255, 255);
}

/*#7b7b7b;*/
INPUT[type=checkbox]:focus
{
  outline: 1px solid rgba(0, 0, 0, 0.2);
}

INPUT[type=checkbox]
{
  background-color: #DDD;
  border-radius: 2px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 17px;
  height: 17px;
  cursor: pointer;
  position: relative;
  top: 5px;
}

INPUT[type=checkbox]:checked
{
  background-color: #409fd6;
  background: #005eb8 url("data:image/gif;base64,R0lGODlhCwAKAIABAP////3cnSH5BAEKAAEALAAAAAALAAoAAAIUjH+AC73WHIsw0UCjglraO20PNhYAOw==") 3px 3px no-repeat;
}
