:root {
  --accent: #005eb8;
  --shadow-accent: #005eb8;
}

body {
  padding-top: 54px;
  background-color: #fafafc;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.place {
  min-height: 100%;
  background: url("../resources/header.jpg") center center no-repeat scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.navbar {
  white-space: nowrap;
}

.navbar-brand i:hover {
  color: var(--accent);
}

.navbar-form button {
  display: inline;
}

.place h1 {
  color: white;
}

.nav-item, .nav-item > a{
  border-radius: .25rem;
  padding-left: .25rem;
  padding-right: .25rem
}

.navbar-nav a:hover, .navbar-nav .active  {
  background-color: var(--accent);
}

.login-btn {
  color: var(--accent);

    color: white;
  border-color: var(--accent);
}

.login-btn:hover, .login-btn:focus {
  background-color: var(--accent);
  color: white;
  border-color: var(--accent);
}

.search-btn, .buy-btn {
  background-color: var(--accent);
  color: white;
  border-color: var(--accent);
}

.search-btn:hover, .search-btn:focus, .buy-btn:hover, .buy-btn:focus {
  background-color: var(--shadow-accent);
  border-color: var(--shadow-accent);
}

.card {
  height: 100%;
}

.card img {
  max-height: 16rem;
  max-width: 100%;
  object-fit: cover;
  border-radius: 3px;
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: none;
}

.card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
}

#id3, #id4 {
  display: none;
}

.sorters button {
  width: 100%;
}


.form-inline .form-control {
    display: inline-block;
    width: 250px;
    vertical-align: middle;
}



#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}


.navbar-dark .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}