:root {
  --accent: #005eb8;
  --shadow-accent: #005eb8;
}

body {
  padding-top: 54px;
  background-color: #fafafc;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.header {
  min-height: 100%;
  background: url("../resources/header.jpg") center center no-repeat scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.navbar {
  white-space: nowrap;
}

.navbar-brand i:hover {
  color: var(--accent);
}

.navbar-form button {
  display: inline;
}

.header h1 {
  color: white;
}

.nav-item, .nav-item > a{
  border-radius: .25rem;
  padding-left: .25rem;
  padding-right: .25rem
}

.navbar-nav a:hover, .navbar-nav .active  {
  background-color: var(--accent);
}

.login-btn {
  color: white;
  border-color: var(--accent);
}

.login-btn:hover, .login-btn:focus {
  background-color: var(--accent);
  color: white;
  border-color: var(--accent);
}

.search-btn, .buy-btn {
  background-color: var(--accent);
  color: white;
  border-color: var(--accent);
}

.search-btn:hover, .search-btn:focus, .buy-btn:hover, .buy-btn:focus {
  background-color: var(--shadow-accent);
  border-color: var(--shadow-accent);
}

.register .card {
  height: 100%;
  border-radius: 20px;
  width: 18rem;
}

.register .card i {
  text-align: center;
  color: var(--accent);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: none;
}

#id3, #id4 {
  display: none;
}


footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}


.navbar-dark .navbar-nav .nav-link {
  color: rgb(255, 255, 255);
}